@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    height: 100vh;
    width: 100vh;
    margin: 0;
    padding: 0;
    background-color: #e9e6d6;
    color: #e9e6d6;
    display: flex;
    font-family: "Courier Prime", serif;
}
