.app-container {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.app-area {
    width: 50vw;
    max-width: 600px;
    min-width: 510px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.reservations-area {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #343232;
    border-radius: 30px;
    padding: 40px 30px;
}

.reservations-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 60%;
    padding: 30px 0;
}

.name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.first-name-container, .last-name-container, .email, .phone {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}


input {
    border-radius: 12px;
    border: none;
    padding: 0 20px;
    height: 40px;
    font-family: "Bebas Neue", serif;
    font-size: 20px;
    color: #343232;
}

.party-size {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.counter {
    display: flex;
    flex-direction: row;
    height: 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.minus-button, .plus-button {
    background-color: transparent;
    border: none;
    color: #e9e6d6;
    font-size: 100px;
    padding: 10px;
    font-family: "Bebas Neue", serif;
    transition: all ease 0.3s;

}

.minus-button:hover,
.plus-button:hover {
    color: #0c5c35;
}

.number-section {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
    color: #343232;
    font-size: 25px;
}

.button-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-button {
    width: 50vw;
    min-width: 510px;
    max-width: 600px;
    height: 75px;
    border-radius: 25px;
    border: none;
    background-color: #0c5c35;
    color: #e9e6d6;
    font-size: 35px;
    font-family: "Bebas Neue", serif;
    transition: all ease 0.3s;
}

.submit-button:hover {
    background-color: #e9e6d6;
    border: 5px solid #0c5c35;
    border-radius: 25px;
    color: #0c5c35;
}

